.site-footer {
  background-color: var(--background-main);

  h2 {
    margin-block-end: 1rem;
    font-size: var(--font-size-heading-sm);
    font-weight: 400;
  }

  li {
    border-radius: 50%;
    border: 1px solid var(--text-high-contrast);
    padding: 0.75rem;

    display: grid;
    place-items: center;

    i {
      width: 16px;
      height: 16px;
      font-size: 16px;
    }
  }
}
