/* :host {
} */

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-heading-regular);
  margin-block: 1rem;

  color: var(--divider-background, var(--text-main));
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block-end: 1rem;

  &::before {
    content: '';
    display: block;
    background-color: var(--divider-background, var(--background-light));
    height: 4px;
    width: 92px;
  }

  &::after {
    content: '';
    display: block;
    background-color: var(--divider-background, var(--background-light));
    height: 4px;
    width: 92px;
  }

  i {
    font-size: 16px;
    margin-inline: 22px;
    color: var(--divider-background, var(--text-main));
  }
}
