figure {
  --opacity: 0;

  position: relative;
  border-radius: var(--border-radius-3);
  overflow: hidden;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--background-accent-main);
    opacity: calc(var(--opacity) - 0.2);
    transition: opacity 0.3s;
  }

  i {
    position: absolute;
    z-index: 555;
    inset: 0;
    margin: auto;
    font-size: 6rem;
    height: 6rem;
    opacity: var(--opacity);
    transition: opacity 0.3s;
  }

  &:hover {
    --opacity: 1;
  }
}

dialog {
  margin: auto;
  border: none;
  outline: none;
  /* overflow: hidden; */

  width: min(100%, 40rem);

  &::backdrop {
    background-color: rgba(13, 110, 253, 0.25);
  }

  img {
    border-radius: 0;
  }
}
