@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  [role='list'] {
    list-style: none;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

@layer base {
  :root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-gray-100: hsl(0, 2%, 79%);

    --clr-green-400: hsl(168, 76%, 42%);
    --clr-blue-500: hsl(210, 29%, 24%);
    --clr-blue-600: hsl(209, 29%, 14%);

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-300: 0.875rem;
      --fs-400: 1rem;
      --fs-500: 1.25rem;
      --fs-600: 1.5rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  :root {
    --text-main: var(--clr-white);
    --text-high-contrast: var(--clr-white);
    --text-brand: var(--clr-blue-500);
    --text-brand-dark: var(--clr-blue-600);

    --background-accent-main: var(--clr-green-400);

    --background-light: var(--clr-white);
    --background-main: var(--clr-blue-500);
    --background-dark: var(--clr-blue-600);

    --font-size-heading-sm: var(--fs-700);
    --font-size-heading-regular: var(--fs-800);
    --font-size-heading-lg: var(--fs-900);
    --font-size-heading-xl: var(--fs-1000);

    --font-size-sm: var(--fs-300);
    --font-size-regular: var(--fs-400);
    --font-size-md: var(--fs-500);
    --font-size-lg: var(--fs-600);

    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans',
      'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';

    font-size: var(--font-size-regular);
    color: var(--text-main);
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: 700;
    color: var(--text-high-contrast);
  }

  a {
    color: var(--text-high-contrast);
    text-decoration: none;
    font: inherit;
    display: inline-block;
  }

  img {
    border-radius: var(--border-radius-3);
  }
}

@layer layout {
  .wrapper {
    --wrapper-max-width: 1130px;
    --wrapper-padding: 1rem;

    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: var(--wrapper-padding);

    box-sizing: content-box;

    @media (width < 1190px) {
      --wrapper-max-width: 890px;
    }

    @media (width < 950px) {
      --wrapper-max-width: 720px;
    }
  }

  .section {
    padding-block: 3.75rem;

    @media (width > 760px) {
      padding-block: 8rem;

      &[data-padding='compact'] {
        padding-block: 4.5rem;
      }
    }
  }

  .column-layout {
    --columns: 3;

    display: grid;
    gap: var(--grid-gap, 1rem);

    &[data-columns='2'] {
      --columns: 2;
    }

    &[data-justify='center'] {
      justify-items: center;
    }

    @media (width > 600px) {
      grid-template-columns: repeat(var(--columns), 1fr);
    }
  }

  .grid-auto-fit {
    display: grid;
    gap: var(--grid-gap, 1rem);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: var(--flex-gap, 1rem);

    &[data-direction='column'] {
      flex-direction: column;
    }

    &[data-align='center'] {
      align-items: center;
    }

    &[data-justify='between'] {
      justify-content: space-between;
    }

    &[data-justify='evenly'] {
      justify-content: space-evenly;
    }

    &[data-justify='center'] {
      justify-content: center;
    }
  }

  .flow > * + * {
    margin-block-start: 1em;
  }
}

@layer utilities {
  .text-center {
    text-align: center;
  }

  .text-main {
    color: var(--text-main);
  }
  .text-high-contrast {
    color: var(--text-high-contrast);
  }

  .section-title {
    font-size: var(--font-size-heading-regular);
  }

  .background-main {
    background-color: var(--background-main);
  }

  .background-light {
    background-color: var(--background-light);
  }

  .background-dark {
    background-color: var(--background-dark);
  }

  .background-accent {
    background-color: var(--background-accent-main);
  }

  .font-size-sm {
    font-size: var(--font-size-sm);
  }
  .font-size-regular {
    font-size: var(--font-size-regular);
  }
  .font-size-md {
    font-size: var(--font-size-md);
  }
  .font-size-lg {
    font-size: var(--font-size-lg);
  }
}
