form {
  inline-size: 50%;
  margin-inline: auto;

  div {
    position: relative;

    label {
      color: var(--background-accent-main);
      position: absolute;
      /* transform: translateY(-1.25rem); */
      z-index: -1;
      transition: transform 0.3s;
    }

    &:has(input:not(:placeholder-shown)) {
      label {
        transform: translateY(-1.25rem);
      }
    }

    input {
      z-index: 888;
      inline-size: 100%;
      padding: 1rem 0.5rem;
      border: none;
      outline: none;
      border-block-end: 1px solid var(--clr-gray-100);

      /* &:not(:placeholder-shown) {
        background-color: aqua;
      } */
    }
  }

  button {
    border: none;
    padding: 0.5rem;
    background-color: var(--background-accent-main);
    color: var(--text-main);
    border-radius: var(--border-radius-2);
    cursor: pointer;
  }
}
